.GAME-UI {
    width: 100%;
    height: 100%;
    position: relative;

    .GAME-UI-HEADER {
        width: 100%;
        height: 0rem;
        overflow: hidden;
        transition: height 300ms;
    }

    .GAME-UI-CONTENT {
        height: 100%;
        position: relative;
        transition: 300ms;

        .GAME-UI-NAV {
            position: absolute;
            left: 0px;
            top: 0px;
            bottom: 0px;
        }

        .GAME-UI-PAGE {
            position: absolute;
            left: 5rem;
            right: 1rem;
            top: 1rem;
            bottom: 1rem;
        }
    }

    &.TRACK-RESOURCES {
        .GAME-UI-HEADER {
            height: 4rem;
        }

        .GAME-UI-CONTENT {
            height: calc(100% - 4rem);
        }
    }
}