.GAME-UI
{
    width: 100%;
    height: 100%;
    position: relative;

    .GAME-UI-NAV
    {
        position: fixed;
        left: 0px;
        top: 0px;
        bottom: 0px;
    }

    .GAME-UI-PAGE
    {
        position: fixed;
        left: 5rem;
        right: 0px;
        top: 0px;
        bottom: 0px;
    }
}