.GAME-SIDEBAR {
    width: 64px;
    height: 100%;
    background-color: rgba($color: #561b09, $alpha: 0.2);
    border-right: 1px solid #561b09;
    -webkit-box-shadow: 4px 4px 6px -4px rgba(0, 0, 0, 1);
    -moz-box-shadow: 4px 4px 6px -4px rgba(0, 0, 0, 1);
    box-shadow: 4px 4px 6px -4px rgba(0, 0, 0, 1);

    .GAME-SIDEBAR-BUTTON {
        width: 100%;
        height: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            opacity: 0.5;
            width: 3rem;
            height: 3rem;
        }

        &.SELECTED {
            svg {
                opacity: 1;
            }
        }
    }
}